@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kenia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */ }

html {
  font-size: 62.5%; }

body {
  background-color: black; }

header {
  /* width: 100%; */
  font-family: "Roboto Slab" , serif;
  position: sticky;
  top: 0; }
  header div form {
    display: flex;
    flex-direction: row; }
  header nav {
    background-color: #3C0753; }
    header nav ul {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      text-align: center;
      flex-wrap: wrap; }
      header nav ul li {
        padding: 1rem 3rem; }
        header nav ul li a {
          color: antiquewhite;
          text-decoration: none;
          text-shadow: 1px 1px 1px black;
          font-size: 16px; }
          header nav ul li a:hover {
            color: yellow; }
          header nav ul li a:active {
            color: #8f8f21; }

.headiv {
  background-color: #030637;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* width: 100%; */ }
  .headiv img {
    max-width: 400px; }

.buscar {
  display: flex;
  align-items: center; }

.search {
  height: 100%;
  width: 100%;
  background-color: #2840a9; }

body {
  background-color: #0B1225; }

.indexmain {
  display: flex;
  font-family: "Kenia", serif;
  flex-direction: column;
  height: 480px;
  color: #EBFF00;
  text-decoration: solid;
  background: linear-gradient(to top, #0B1225, 80%, #B30405, 95%, #290002); }
  .indexmain h1 {
    font-family: "Inter", serif;
    font-size: 40px;
    font-weight: 200;
    font-style: italic;
    justify-self: end;
    text-align: end;
    align-self: flex-end;
    margin: 20px 4px;
    text-shadow: 1px 1px 1px red; }
  .indexmain h2 {
    font-size: 28px;
    padding-left: 5px;
    text-shadow: 1px 1px 1px red; }
  .indexmain p {
    margin-top: 3rem;
    font-size: 22px;
    font-weight: 300;
    padding-left: 5px;
    text-shadow: 1px 1px 1px red; }

.portada {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px; }
  .portada img {
    max-width: 600px;
    image-rendering: auto; }

.intro {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  grid-template-areas: " txt indeximg"; }

.indeximg {
  grid-area: indeximg;
  max-height: 300px;
  width: 100%;
  max-width: 480px;
  justify-self: center;
  overflow: hidden; }
  .indeximg:hover {
    -webkit-animation: flicker-in-1 1s linear both;
    animation: flicker-in-1 1s linear both; }

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: #0B1225;
  margin-top: 44px;
  padding: 24px; }
  .banner .mercado-banner {
    width: 90%;
    max-height: 90px; }
  .banner .master-banner {
    width: 150px;
    height: 90px; }

.audiomain {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 30% 30% 30% 10%;
  background-image: url(../assets/audio.png);
  background-position: top;
  height: 60rem;
  width: 100%;
  background-size: cover;
  grid-template-areas: ". ." ". ." "title ." "title ."; }
  .audiomain h1 {
    display: grid;
    grid-area: title;
    width: 100%;
    height: 100%;
    color: #910A67;
    font-family: "Kenia", "Roboto Slab",serif;
    font-size: 60px;
    text-align: end;
    padding-left: 1rem;
    text-shadow: 5px 5px 1px black; }

.section2 {
  background-image: url(../assets/digital.png);
  background-position: top;
  height: 50rem;
  width: 100%;
  background-size: cover;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 30% 30% 30% 10%;
  grid-template-areas: ". ." ". ." "title ." "title ."; }
  .section2 h2 {
    display: grid;
    grid-area: title;
    width: 100%;
    height: 100%;
    color: #910A67;
    font-family: "Kenia", "Roboto Slab",serif;
    font-size: 60px;
    text-align: end;
    padding-left: 1rem;
    text-shadow: 5px 5px 1px black; }

.musicmain {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 30% 30% 30% 10%;
  background-image: url(../assets/inst.png);
  background-position: top;
  height: 60rem;
  width: 100%;
  background-size: cover;
  grid-template-areas: ". ." ". ." "title ." "title ."; }
  .musicmain h1 {
    display: grid;
    grid-area: title;
    width: 100%;
    height: 100%;
    color: #910A67;
    font-family: "Kenia", "Roboto Slab",serif;
    font-size: 60px;
    text-align: end;
    padding-left: 1rem;
    text-shadow: 5px 5px 1px black; }

.musicsection2 {
  background-image: url(../assets/ampli.png);
  background-position: top;
  height: 50rem;
  width: 100%;
  background-size: cover;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 30% 30% 30% 10%;
  grid-template-areas: ". ." ". ." "title ." "title ."; }
  .musicsection2 h2 {
    display: grid;
    grid-area: title;
    width: 100%;
    height: 100%;
    color: #910A67;
    font-family: "Kenia", "Roboto Slab",serif;
    font-size: 60px;
    text-align: end;
    padding-left: 1rem;
    text-shadow: 5px 5px 1px black; }

.novedades {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #910A67; }
  .novedades h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 30px; }

.cardcont {
  display: flex;
  justify-content: space-around; }
  .cardcont a {
    text-decoration: none;
    color: black; }
    .cardcont a:visited {
      color: black; }
    .cardcont a:hover {
      color: #030637; }

.card {
  display: flex;
  margin: 2rem 2rem 0rem 2rem;
  flex-direction: column;
  text-align: center;
  border: black solid 3px;
  background-color: antiquewhite; }
  .card:hover {
    background-color: yellow; }
  .card p {
    font-family: "Kenia", "Roboto Slab", serif;
    font-size: 20px; }

.contactmain {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Slab" , serif;
  font-size: 20px;
  background-color: #030637;
  color: antiquewhite;
  height: 560px;
  align-content: center;
  /* height: 500px; */ }
  .contactmain h1 {
    text-shadow: 1px 1px 1px black; }
  .contactmain h1, .contactmain h5 {
    padding-left: 16px; }

.contactform {
  display: flex;
  flex-direction: column;
  gap: .3125rem;
  justify-content: center;
  align-items: center; }

.emailbox {
  /* padding: 10px 50px; */
  padding: 5rem;
  background-color: #910A67;
  max-width: 768px;
  align-self: center;
  margin: 20px 0px;
  width: 90%;
  justify-self: center; }

.msgbox {
  display: flex;
  max-width: 768px;
  flex-direction: column;
  padding: 5rem;
  background-color: #910A67;
  align-self: center;
  width: 90%;
  margin: 10px 0px;
  /* margin: 10px 30rem 0rem 30rem; */ }

.textarea {
  padding: 20px; }

.msgbox button {
  background-color: #3C0753;
  color: aliceblue; }

.busqmain {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas: "form result";
  height: 550px;
  /* width: 100%; */
  gap: 16px;
  background-color: #030637; }
  .busqmain h1 {
    color: yellow;
    font-family: "Inter",serif;
    text-shadow: 1px 1px 1px antiquewhite;
    padding: 4px;
    font-size: 22px; }

.sideform {
  grid-area: form;
  display: flex;
  flex-direction: column;
  background-color: #910A67;
  margin-top: 20px;
  height: 200px;
  width: 100%;
  color: antiquewhite;
  align-items: center; }
  .sideform h2 {
    font-family: "Inter",serif;
    text-align: center;
    padding-bottom: 12px;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 1px 1px 1px black; }
  .sideform label {
    font-size: 16px; }

.side {
  width: 90%; }
  .side div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 90%; }

.container {
  grid-area: result;
  margin-left: 12px;
  width: 90%;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #3C0753;
  margin: 20px 0px; }

.result {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center; }

.buscard {
  width: 90%;
  height: 100px;
  max-height: 100px;
  margin-bottom: 12px;
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "info foto" "precio foto";
  background-color: antiquewhite; }
  .buscard .info {
    font-size: 18px;
    grid-area: info; }
  .buscard .marca {
    font-size: 16px;
    grid-area: marca;
    align-self: end; }
  .buscard img {
    height: 100%;
    max-width: 180px;
    width: 100%;
    justify-self: end;
    grid-area: foto; }
  .buscard .nombre {
    grid-area: nombre;
    font-weight: bold;
    font-size: 20px; }
  .buscard .precio {
    grid-area: precio;
    align-self: flex-end;
    font-size: 18px;
    color: green;
    font-weight: bold; }

footer {
  display: flex;
  font-family: "Roboto Slab", serif;
  font-size: medium;
  color: #910A67;
  background-color: black;
  height: 40px;
  flex-wrap: wrap;
  justify-content: right;
  align-content: center; }
  footer a {
    color: #910A67;
    margin: 0rem 1rem; }

@media only screen and (max-width: 890px) {
  .indexmain h1 {
    font-size: 34px;
    justify-self: end;
    text-align: end;
    align-self: flex-end;
    /* width: 60%; */ }
  .indexmain h2 {
    font-size: 24px; }
  .indexmain p {
    font-size: 22px; } }

@media only screen and (max-width: 768px) {
  .indexmain h1 {
    font-size: 34px;
    font-weight: 300;
    justify-self: end;
    text-align: end;
    align-self: flex-end;
    /* width: 60%; */ }
  .indexmain h2 {
    font-size: 24px; }
  .indexmain p {
    font-size: 22px; }
  .indeximg {
    justify-self: right; }
  .portada img {
    max-width: 500px; } }

@media only screen and (max-width: 750px) {
  .card {
    justify-content: center; }
  .cardcont {
    flex-direction: column;
    justify-self: center;
    align-items: center; } }

@media only screen and (max-width: 690px) {
  .buscard .info {
    font-size: 14px; }
  .banner {
    flex-direction: column;
    align-items: center;
    gap: 16px; }
    .banner .master-banner {
      max-height: 80px;
      width: 120px; }
    .banner .mercado-banner {
      width: 100%; } }

@media only screen and (max-width: 660px) {
  .headiv img {
    max-width: 320px; }
  header nav ul li a {
    font-size: 12px; }
  .indexmain h1 {
    font-size: 34px;
    justify-self: end;
    text-align: end;
    align-self: flex-end;
    width: 100%; }
  .indexmain p {
    font-size: 22px; }
  .indexmain h2 {
    font-size: 22px; }
  .msgbox {
    padding: 5rem;
    background-color: #910A67;
    align-self: center;
    width: 90%;
    margin: 10px 0px; }
  .busqmain h1 {
    font-size: 16px; }
  .busqmain h2 {
    font-size: 16px; } }

@media only screen and (max-width: 590px) {
  .indexmain h1 {
    font-size: 28px;
    justify-self: end;
    text-align: end;
    align-self: flex-end;
    /* width: 60%; */ }
  .indexmain h2 {
    font-size: 22px; }
  .indexmain p {
    font-size: 20px; }
  .indexmain .indeximg {
    align-self: center; }
  .buscard .nombre {
    font-size: 16px; } }

@media only screen and (max-width: 560px) {
  .buscard .nombre {
    font-size: 14px; }
  .buscard .marca {
    font-size: 12px; } }

@media only screen and (max-width: 500px) {
  .indexmain h1 {
    font-size: 24px; }
  .indexmain p {
    font-size: 16px; }
  .indexmain h2 {
    font-size: 18px; }
  .about {
    font-size: 16px;
    margin-top: 1.25rem; }
  .contactmain {
    font-size: 16px; }
  .contactmain h1 {
    font-size: 18px; }
  .emailbox {
    width: 90%; }
  .portada img {
    max-width: 320px; }
  .busqmain h1 {
    font-size: 16px; }
  .sideform label {
    font-size: 10px; } }

@media only screen and (max-width: 460px) {
  .buscard {
    grid-template-columns: 50% 50%; }
    .buscard .nombre {
      font-size: 12px; }
    .buscard .marca {
      font-size: 10px; }
  .busqmain h1 {
    font-size: 14px; }
  .sideform h2 {
    font-size: 14px; } }

@media only screen and (max-width: 420px) {
  .buscard {
    grid-template-columns: 50% 50%; }
  .sideform h2 {
    font-size: 12px; }
  .musicsection2 h2 {
    font-size: 40px; } }

@media only screen and (max-width: 380px) {
  .indexmain {
    height: 500px; }
  .result {
    overflow-x: scroll;
    padding-left: 2px; }
  .buscard .precio {
    font-size: 12px; } }

/* ----------------------------------------------
 * Generated by Animista on 2024-4-24 11:57:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * @animation flicker-in-1
 * ----------------------------------------
 */
@-webkit-keyframes flicker-in-1 {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  10.1% {
    opacity: 1; }
  10.2% {
    opacity: 0; }
  20% {
    opacity: 0; }
  20.1% {
    opacity: 1; }
  20.6% {
    opacity: 0; }
  30% {
    opacity: 0; }
  30.1% {
    opacity: 1; }
  30.5% {
    opacity: 1; }
  30.6% {
    opacity: 0; }
  45% {
    opacity: 0; }
  45.1% {
    opacity: 1; }
  50% {
    opacity: 1; }
  55% {
    opacity: 1; }
  55.1% {
    opacity: 0; }
  57% {
    opacity: 0; }
  57.1% {
    opacity: 1; }
  60% {
    opacity: 1; }
  60.1% {
    opacity: 0; }
  65% {
    opacity: 0; }
  65.1% {
    opacity: 1; }
  75% {
    opacity: 1; }
  75.1% {
    opacity: 0; }
  77% {
    opacity: 0; }
  77.1% {
    opacity: 1; }
  85% {
    opacity: 1; }
  85.1% {
    opacity: 0; }
  86% {
    opacity: 0; }
  86.1% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes flicker-in-1 {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  10.1% {
    opacity: 1; }
  10.2% {
    opacity: 0; }
  20% {
    opacity: 0; }
  20.1% {
    opacity: 1; }
  20.6% {
    opacity: 0; }
  30% {
    opacity: 0; }
  30.1% {
    opacity: 1; }
  30.5% {
    opacity: 1; }
  30.6% {
    opacity: 0; }
  45% {
    opacity: 0; }
  45.1% {
    opacity: 1; }
  50% {
    opacity: 1; }
  55% {
    opacity: 1; }
  55.1% {
    opacity: 0; }
  57% {
    opacity: 0; }
  57.1% {
    opacity: 1; }
  60% {
    opacity: 1; }
  60.1% {
    opacity: 0; }
  65% {
    opacity: 0; }
  65.1% {
    opacity: 1; }
  75% {
    opacity: 1; }
  75.1% {
    opacity: 0; }
  77% {
    opacity: 0; }
  77.1% {
    opacity: 1; }
  85% {
    opacity: 1; }
  85.1% {
    opacity: 0; }
  86% {
    opacity: 0; }
  86.1% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.flicker-in-1 {
  -webkit-animation: flicker-in-1 500ms linear both;
  animation: flicker-in-1 500ms linear both; }
