@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kenia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/*$colores:(
    fondo: #030637,
    index: #EBFF00,
    prio_1: #3C0753,
    prio_2: #910A67,
    prio_3: rgb(100, 182, 185),

)*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */ }

html {
  font-size: 62.5%; }

body {
  background-color: black; }

header {
  /* width: 100%; */
  font-family: "Roboto Slab" , serif;
  position: sticky;
  top: 0; }
  header div form {
    display: flex;
    flex-direction: row;
    align-items: center; }
    header div form .buscar input {
      border-radius: 5px; }
    header div form .buscar button {
      background-color: #030637;
      border: 2px solid #64b6b9;
      border-radius: 5px; }
    header div form .buscar a {
      text-decoration: none;
      color: #64b6b9; }
  header nav {
    background-color: #3C0753; }
    header nav ul {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      text-align: center;
      flex-wrap: wrap; }
      header nav ul li {
        padding: 1rem 3rem; }
        header nav ul li a {
          color: antiquewhite;
          text-decoration: none;
          text-shadow: 1px 1px 1px black;
          font-size: 16px; }
          header nav ul li a:hover {
            color: #EBFF00;
            -webkit-animation: flicker-in-1 1000ms linear;
            animation: flicker-in-1 1000ms linear; }
          header nav ul li a:active {
            color: #8f8f21; }

.headiv {
  background-color: #030637;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  /* width: 100%; */ }
  .headiv img {
    max-width: 380px;
    height: 90%; }

.buscar {
  display: flex;
  align-items: center; }

.search {
  height: 70%;
  width: 100%;
  background-color: #64b6b9;
  border-radius: 12px; }

.index-body {
  background-color: #0B1225; }

.indexmain {
  display: flex;
  flex-direction: column;
  gap: none;
  font-family: "Kenia", serif;
  height: 520px;
  color: #EBFF00;
  text-decoration: solid;
  background: linear-gradient(to top, #0B1225, 80%, #B30405, 95%, #290002);
  margin-bottom: 96px; }
  .indexmain h1 {
    font-family: "Inter", serif;
    font-size: 44px;
    font-weight: 200;
    font-style: italic;
    align-self: flex-end;
    padding-right: 16px;
    margin: 12px 4px 52px 4px;
    text-shadow: 1px 1px 1px red; }
  .indexmain h2 {
    font-size: 30px;
    padding-left: 5px;
    text-shadow: 1px 1px 1px red; }
  .indexmain p {
    font-size: 22px;
    font-weight: 300;
    padding-left: 5px;
    text-shadow: 1px 1px 1px red; }

.portada {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: none;
  margin-top: 16px; }
  .portada img {
    max-width: 600px;
    image-rendering: auto; }

.intro {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: none;
  width: 100%;
  grid-template-areas: " txt indeximg";
  margin-bottom: 24px; }

.indeximg {
  grid-area: indeximg;
  max-height: 300px;
  width: 100%;
  max-width: 480px;
  justify-self: center; }
  .indeximg:hover {
    -webkit-animation: flicker-in-1 900ms linear both;
    animation: flicker-in-1 900ms linear both; }

.txt {
  grid-area: txt;
  align-self: center; }

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  background-color: #0B1225;
  padding: 24px; }
  .banner .mercado-banner {
    width: 90%;
    max-width: 700px;
    max-height: 90px; }
  .banner .master-banner {
    width: 150px;
    height: 90px; }

.audiomain, .section2 {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 30% 30% 30% 10%;
  background-image: url(../assets/audio.png);
  background-position: top;
  height: 60rem;
  width: 100%;
  background-size: cover;
  grid-template-areas: ". ." ". ." "title ." "title ."; }
  .audiomain h1, .section2 h1 {
    display: grid;
    grid-area: title;
    width: 100%;
    height: 100%;
    color: #910A67;
    font-family: "Kenia", "Roboto Slab",serif;
    font-size: 60px;
    text-align: end;
    padding-left: 1rem;
    text-shadow: 5px 5px 1px black; }

.section2 {
  background-image: url(../assets/digital.png); }
  .section2 h2 {
    display: grid;
    grid-area: title;
    width: 100%;
    height: 100%;
    color: #910A67;
    font-family: "Kenia", "Roboto Slab",serif;
    font-size: 60px;
    text-align: end;
    padding-left: 1rem;
    text-shadow: 5px 5px 1px black; }

.musicmain, .musicsection2 {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 30% 30% 30% 10%;
  background-image: url(../assets/inst.png);
  background-position: top;
  height: 60rem;
  width: 100%;
  background-size: cover;
  grid-template-areas: ". ." ". ." "title ." "title ."; }
  .musicmain h1, .musicsection2 h1 {
    display: grid;
    grid-area: title;
    width: 100%;
    height: 100%;
    color: #910A67;
    font-family: "Kenia", "Roboto Slab",serif;
    font-size: 60px;
    text-align: end;
    padding-left: 1rem;
    text-shadow: 5px 5px 1px black; }

.musicsection2 {
  background-image: url(../assets/ampli.png); }
  .musicsection2 h2 {
    display: grid;
    grid-area: title;
    width: 100%;
    height: 100%;
    color: #910A67;
    font-family: "Kenia", "Roboto Slab",serif;
    font-size: 60px;
    text-align: end;
    padding-left: 1rem;
    text-shadow: 5px 5px 1px black; }

.novedades {
  display: flex;
  flex-direction: column;
  gap: none;
  padding: 36px;
  background-color: #910A67; }

.cardcont {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: space-around; }
  .cardcont a {
    text-decoration: none;
    color: black; }
    .cardcont a:visited {
      color: black; }
    .cardcont a:hover {
      color: #030637; }

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: none;
  text-align: center;
  border: black solid 3px;
  background-color: antiquewhite; }
  .card:hover {
    background-color: #EBFF00; }
  .card p {
    font-family: "Kenia", "Roboto Slab", serif;
    font-size: 20px; }

.contact-body {
  background-color: #030637; }

.contactmain {
  display: flex;
  flex-direction: column;
  gap: none;
  align-items: center;
  font-family: "Roboto Slab" , serif;
  font-size: 20px;
  background-color: #030637;
  color: antiquewhite;
  height: 560px;
  margin-top: 16px; }
  .contactmain h5 {
    padding: 8px 16px; }
  .contactmain h1, .contactmain h5 {
    text-shadow: 1px 1px 1px black; }

.contactform {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 60%;
  margin-top: 32px;
  min-width: 270px; }

.emailbox, .msgbox {
  /* padding: 10px 50px; */
  display: flex;
  flex-direction: column;
  gap: none;
  padding: 5rem;
  background-color: #910A67;
  border: 2px solid black;
  border-radius: 5px; }
  .emailbox input, .msgbox input {
    border-radius: 5px; }

.msgbox button {
  width: 50%;
  border-radius: 5px;
  border: 2px solid black;
  background-color: #030637;
  color: aliceblue;
  align-self: flex-end; }

.textarea {
  padding: 20px;
  border-radius: 10px; }

.busqmain {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: none;
  grid-template-areas: "form result";
  height: 550px;
  gap: 16px;
  background-color: #030637; }
  .busqmain h1 {
    color: #EBFF00;
    font-family: "Inter",serif;
    text-shadow: 1px 1px 1px antiquewhite;
    padding: 16px 0px;
    font-size: 22px; }

.sideform {
  grid-area: form;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
  background-color: #910A67;
  margin-top: 20px;
  width: 100%;
  color: antiquewhite; }
  .sideform h2 {
    font-family: "Inter",serif;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 12px;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 1px 1px 1px black; }
  .sideform label {
    font-size: 16px; }
  .sideform .side {
    width: 90%;
    padding-bottom: 12px; }
    .sideform .side button {
      background-color: #3C0753;
      color: antiquewhite;
      border: 1px solid #3C0753;
      border-radius: 2px; }
    .sideform .side div {
      display: flex;
      flex-direction: column;
      gap: none;
      flex-wrap: nowrap;
      width: 90%; }

.container {
  grid-area: result;
  margin-left: 12px;
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: none;
  justify-content: center;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #3C0753;
  margin: 20px 0px; }

.result {
  display: flex;
  flex-direction: column;
  gap: none;
  align-items: center;
  width: 90%; }

.buscard {
  width: 90%;
  height: 100px;
  margin-bottom: 12px;
  border: .5px solid black;
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "info foto" "precio foto";
  background-color: antiquewhite; }
  .buscard .info {
    font-size: 18px;
    grid-area: info;
    padding-left: 1px; }
  .buscard .marca {
    font-size: 16px;
    grid-area: marca;
    align-self: end;
    padding-left: 1px; }
  .buscard img {
    height: 100%;
    max-width: 180px;
    width: 100%;
    border: .5px solid black;
    justify-self: end;
    grid-area: foto;
    overflow: visible; }
    .buscard img:hover {
      transform: scale(2.25) translate(-20%);
      transition: transform 250ms ease-in 400ms; }
  .buscard .nombre {
    grid-area: nombre;
    font-weight: bold;
    font-size: 20px; }
  .buscard .precio {
    grid-area: precio;
    align-self: flex-end;
    font-size: 18px;
    color: green;
    font-weight: bold; }

footer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  color: #910A67;
  background-color: black;
  height: 40px;
  flex-wrap: nowrap;
  justify-content: right;
  align-items: center; }
  footer a {
    color: #910A67;
    margin: 0rem 1rem;
    text-decoration: none; }

@media only screen and (max-width: 780px) {
  .buscard .nombre {
    font-size: 16px; } }

@media only screen and (max-width: 768px) {
  .indexmain h1 {
    font-size: 34px; }
  .indexmain h2 {
    font-size: 24px; }
  .indexmain p {
    font-size: 22px; }
  .indeximg {
    justify-self: right; }
  .portada img {
    max-width: 500px; }
  .headiv img {
    max-width: 320px; } }

@media only screen and (max-width: 750px) {
  .card {
    justify-content: center; }
  .cardcont {
    flex-direction: column;
    justify-self: center;
    align-items: center; }
  .indexmain h2 {
    margin-bottom: 12px; } }

@media only screen and (max-width: 690px) {
  .banner {
    flex-direction: column;
    align-items: center;
    gap: 16px; }
    .banner .master-banner {
      max-height: 80px;
      width: 120px; }
    .banner .mercado-banner {
      width: 100%; } }

@media only screen and (max-width: 660px) {
  header nav ul li a {
    font-size: 12px; }
  .indexmain h1 {
    font-size: 34px; }
  .indexmain p {
    font-size: 22px; }
  .indexmain h2 {
    font-size: 22px; }
  .busqmain h1 {
    font-size: 16px; }
  .busqmain h2 {
    font-size: 16px; } }

@media only screen and (max-width: 620px) {
  .buscard .nombre {
    font-size: 14px; } }

@media only screen and (max-width: 590px) {
  .indexmain h1 {
    font-size: 28px;
    padding-right: 8px; }
  .indexmain h2 {
    font-size: 22px; }
  .indexmain p {
    font-size: 20px; }
  .indexmain .indeximg {
    align-self: center; }
  .buscard .nombre {
    font-size: 13px; } }

@media only screen and (max-width: 560px) {
  .buscard .nombre {
    font-size: 12px; }
  .buscard .marca {
    font-size: 10px; }
  .search {
    max-height: 40px; }
  .contactform {
    width: 70%;
    font-size: 16px; } }

@media only screen and (max-width: 500px) {
  .indexmain {
    height: 380px; }
    .indexmain h1 {
      font-size: 24px; }
    .indexmain p {
      font-size: 16px; }
    .indexmain h2 {
      font-size: 18px; }
  .about {
    font-size: 16px;
    margin-top: 1.25rem; }
  .contactmain {
    font-size: 16px; }
  .contactmain h1 {
    font-size: 18px; }
  .portada img {
    max-width: 320px; }
  .busqmain h1 {
    font-size: 16px; }
  .sideform label {
    font-size: 10px; }
  .sideform select, .sideform input {
    font-size: 10px; }
  footer {
    font-size: 10px; }
  header nav ul li a {
    font-size: 10px; } }

@media only screen and (max-width: 460px) {
  .container {
    height: 420px; }
  .buscard {
    grid-template-columns: 50% 50%; }
    .buscard .nombre {
      font-size: 12px; }
    .buscard .marca {
      font-size: 10px; }
    .buscard .precio {
      font-size: 14px; }
  .busqmain h1 {
    font-size: 14px; }
  .sideform h2 {
    font-size: 14px; } }

@media only screen and (max-width: 420px) {
  .sideform h2 {
    font-size: 12px; }
  .musicsection2 h2 {
    font-size: 40px; } }

@media only screen and (max-width: 380px) {
  .indexmain {
    height: 460px; }
    .indexmain .intro {
      margin-bottom: none; }
  .result {
    overflow-x: scroll;
    padding-left: 2px; }
  .buscard .precio {
    font-size: 10px; } }

/* ----------------------------------------------
 * Generated by Animista on 2024-4-24 11:57:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * @animation flicker-in-1
 * ----------------------------------------
 */
@-webkit-keyframes flicker-in-1 {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  10.1% {
    opacity: 1; }
  10.2% {
    opacity: 0; }
  20% {
    opacity: 0; }
  20.1% {
    opacity: 1; }
  20.6% {
    opacity: 0; }
  30% {
    opacity: 0; }
  30.1% {
    opacity: 1; }
  30.5% {
    opacity: 1; }
  30.6% {
    opacity: 0; }
  45% {
    opacity: 0; }
  45.1% {
    opacity: 1; }
  50% {
    opacity: 1; }
  55% {
    opacity: 1; }
  55.1% {
    opacity: 0; }
  57% {
    opacity: 0; }
  57.1% {
    opacity: 1; }
  60% {
    opacity: 1; }
  60.1% {
    opacity: 0; }
  65% {
    opacity: 0; }
  65.1% {
    opacity: 1; }
  75% {
    opacity: 1; }
  75.1% {
    opacity: 0; }
  77% {
    opacity: 0; }
  77.1% {
    opacity: 1; }
  85% {
    opacity: 1; }
  85.1% {
    opacity: 0; }
  86% {
    opacity: 0; }
  86.1% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes flicker-in-1 {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  10.1% {
    opacity: 1; }
  10.2% {
    opacity: 0; }
  20% {
    opacity: 0; }
  20.1% {
    opacity: 1; }
  20.6% {
    opacity: 0; }
  30% {
    opacity: 0; }
  30.1% {
    opacity: 1; }
  30.5% {
    opacity: 1; }
  30.6% {
    opacity: 0; }
  45% {
    opacity: 0; }
  45.1% {
    opacity: 1; }
  50% {
    opacity: 1; }
  55% {
    opacity: 1; }
  55.1% {
    opacity: 0; }
  57% {
    opacity: 0; }
  57.1% {
    opacity: 1; }
  60% {
    opacity: 1; }
  60.1% {
    opacity: 0; }
  65% {
    opacity: 0; }
  65.1% {
    opacity: 1; }
  75% {
    opacity: 1; }
  75.1% {
    opacity: 0; }
  77% {
    opacity: 0; }
  77.1% {
    opacity: 1; }
  85% {
    opacity: 1; }
  85.1% {
    opacity: 0; }
  86% {
    opacity: 0; }
  86.1% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.flicker-in-1 {
  -webkit-animation: flicker-in-1 500ms linear both;
  animation: flicker-in-1 500ms linear both; }
