$colores:(
    fondo: #030637,
    index: #EBFF00,
    prio_1: #3C0753,
    prio_2: #910A67,
    prio_3: rgb(100, 182, 185),

)


/*$colores:(
    fondo: #030637,
    index: #EBFF00,
    prio_1: #3C0753,
    prio_2: #910A67,
    prio_3: rgb(100, 182, 185),

)*/