.busqmain{
    @include grid(40% 60%,none);
    grid-template-areas: "form result";
    height: 550px;
    gap:16px;
    background-color: map-get($colores , fondo );
    h1{color:map-get($colores , index ) ;
        font-family: "Inter",serif;

        text-shadow: 1px 1px 1px antiquewhite;
        padding: 16px 0px;
        font-size: 22px;
    }
    
}

.sideform{
    grid-area: form;
    @include flex_center( column,2px);
    background-color: map-get($colores , prio_2 );
    margin-top: 20px;
    width: 100%;
    color: antiquewhite;
    h2{
        font-family: "Inter",serif;
        text-align: center;
        padding-top: 4px;
        padding-bottom: 12px;
        font-weight: bold;
        font-size: 22px;
        text-shadow: 1px 1px 1px black;
    }
    label{
        font-size: 16px;
    }
    .side {
        width: 90%;
        padding-bottom: 12px;
        button{
            background-color: map-get($colores , prio_1 );
            color: antiquewhite;
            border: 1px solid map-get($colores , prio_1 );
            border-radius: 2px;
        }
    
        div{
        @include flex(column,none);
        flex-wrap: nowrap;
        width: 90%;
    }
    }
}




.container{
    grid-area: result;
    margin-left: 12px;
    width: 90%;
    @include flex(row,none);
    justify-content: center;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: map-get($colores , prio_1 ) ;
    margin: 20px 0px;
    

}
.result{
    @include flex(column,none);
    align-items: center;
    width: 90%;

}

.buscard{
    width: 90%;
    height: 100px;
    margin-bottom: 12px;
    border: .5px solid black;
    @include grid(85% 15%, 50% 50%);
    grid-template-areas: 
    "info foto"
    "precio foto";
    
    background-color: antiquewhite;
    .info{
        font-size: 18px;
        grid-area: info;
        padding-left: 1px;     

    }
    
    .marca{
        font-size: 16px;
        grid-area: marca;
        align-self: end;
        padding-left: 1px;
    }
   
    img{
       
        height: 100%;
        max-width: 180px;
        width: 100%;
        border: .5px solid black;
        justify-self: end;
        grid-area: foto;
        overflow: visible;
        &:hover{
            transform: scale(2.25);
            transition: transform 250ms ease-in 400ms;
            
        }
       
    }
    .nombre{
        grid-area: nombre;
        font-weight: bold;
        font-size: 20px;
    }
    .precio{
        grid-area: precio;
        align-self: flex-end;
        font-size: 18px;
        color: green;
        font-weight: bold;
    }
   

}





