.index-body{
    background-color: #0B1225;
}
.indexmain{
    @include flex( column , none);
    font-family: "Kenia", serif;
    height: 520px;
    width: 80vw;
    color: map-get($colores , index );
    text-decoration: solid;
    background: linear-gradient( to top,#0B1225 ,80%,#B30405, 95%,#290002 );
    margin-bottom: 96px;
    h1{
        font-family: "Inter", serif;
        font-size: 44px;
        font-weight: 200;
        font-style: italic;
        align-self: flex-end;
        padding-right: 16px;
        margin: 12px 4px 52px 4px;
        text-shadow: 1px 1px 1px red;
    }
    h2{
        
        font-size: 30px;
        padding-left: 12px;
        text-shadow: 1px 1px 1px red;
        

    }
    
    p{
        
        font-size: 22px;
        font-weight: 300;
        
        padding-left: 12px;
        text-shadow: 1px 1px 1px red;

    }
   
    
   
}
.portada {
    @include flex_center(row,none);
    margin-top: 16px;
    img{
    max-width: 600px;
    image-rendering: auto;
    }
}

.intro{
    @include grid(40% 60% , none);
    width: 100%;
    grid-template-areas: 
    " txt indeximg";
    margin-bottom: 24px;
      
}

.indeximg{
    grid-area: indeximg;
    max-height: 300px;
    width: 100%;
    max-width: 480px;
    justify-self: right;
    padding-right: 24px;
    // position: inherit;
    // overflow: hidden;
    &:hover{ 
        -webkit-animation: flicker-in-1 900ms linear both;
        animation: flicker-in-1 900ms linear both;
    }
}

.txt{
    grid-area: txt;
    align-self: center;

}
   

.banner{
    @include flex_center(column,16px);
    background-color: #0B1225;
    padding: 24px;
    .mercado-banner{
        width: 90%;
        max-width: 700px;
        max-height: 90px;
   
    }
    .master-banner{
        width: 150px;
        height: 90px;
    }
}