.indexmain{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 25% 30% 30% 15%;
    color: #EBFF00;
    text-decoration: solid;
    // background-image: url(../assets/portada.png);
    background-position: top;
    height: 600px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    grid-template-areas: 
    ". ."
    "about ."
    "about headers"
    ". headers";
    h1{
        font-family: "Inter" ,serif;
        font-size: 46px;
        font-style: italic;
        font-weight: 200;
        justify-self: right;
    }
    h2{
        font-family: "Inter" , serif;
        font-size: 30px;
        font-weight: 200;
    }
    p{
        font-family: "Roboto Slab" , serif;
        font-size: 16px;
        width: 100%;
        /* background-color: #030637; */
        /* opacity: 0.5; */
        
    
    }
}

.about{
    display: grid;
    grid-area: about;
    background-color: black;
    width: 100%;
    height: 100%;
    
}

.headers{
    display:grid;
    grid-area: headers;
    justify-self: right;
}