.novedades{
    @include flex(column,none);
    padding: 36px;
    background-color: map-get($colores , prio_2 );
}
.cardcont{
    @include flex(row,12px);
    justify-content: space-around;
    a{
        text-decoration: none;
        color: black;
        &:visited{color: black;}
        &:hover{color: #030637;}
    
    }
    
}
.card{
    @include flex_center(column, none);
    text-align: center;
    border: black solid 3px;
    background-color: antiquewhite;
    &:hover{background-color:map-get($colores , index );}
    
    p{
        font-family: "Kenia", "Roboto Slab", serif;
        font-size: 20px;
    }
}