header{
    /* width: 100%; */
    font-family: "Roboto Slab" , serif;
    position: sticky;
    top: 0;
    div form{
        display: flex;
        flex-direction: row;
        align-items: center;
        .buscar{
            input{
                border-radius: 5px;
            }
            button {
                background-color: map-get($colores, fondo );
                border: 2px solid map-get($colores , prio_3 );
                border-radius: 5px;
            }
            a{
            text-decoration: none;
            color:map-get($colores , prio_3 );
            }
        }
    }
    nav {
        background-color: map-get($colores , prio_1 );
        ul{
            display: flex;
            justify-content: space-evenly;
            list-style: none;
            text-align: center;
            flex-wrap: wrap;
            li{
                padding: 1rem 3rem; 
                a{
                    color: antiquewhite;
                    text-decoration: none;
                    text-shadow: 1px 1px 1px black;
                    font-size: 16px;
                    &:hover {
                        color: map-get( $colores , index );
                        -webkit-animation: flicker-in-1 1000ms linear;
                        animation: flicker-in-1 1000ms linear ;
                    }
                    &:active {color: rgb(143, 143, 33);}
                }
            }
        }
    }
    
}

.headiv {
    background-color: map-get($colores, fondo );
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    /* width: 100%; */
    img{
        max-width: 380px;
        height: 90%;
    }
}
.buscar{
    display: flex;
    align-items: center;
}
    
.search{
    height: 70%;
    width: 100%;
    background-color:map-get($colores , prio_3 );
    border-radius: 12px;
    
    
}
