header{
    /* width: 100%; */
    font-family: "Roboto Slab" , serif;
    position: sticky;
    top: 0;
    div form{
        display: flex;
        flex-direction: row;
        .buscar{
            input{
                border-radius: 5px;
            }
            button {
                background-color: #030637;
                border: 2px solid cadetblue;
                border-radius: 5px;
            }
            a{
            text-decoration: none;
            color: cadetblue;
            }
        }
    }
    nav {
        background-color: #3C0753;
        ul{
            display: flex;
            justify-content: space-evenly;
            list-style: none;
            text-align: center;
            flex-wrap: wrap;
            li{
                padding: 1rem 3rem; 
                a{
                    color: antiquewhite;
                    text-decoration: none;
                    text-shadow: 1px 1px 1px black;
                    font-size: 16px;
                    &:hover {color: yellow;}
                    &:active {color: rgb(143, 143, 33);}
                }
            }
        }
    }
    
}

.headiv {
    background-color: #030637;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* width: 100%; */
    img{
        max-width: 400px;
    }
}
.buscar{
    display: flex;
    align-items: center;
}
    
.search{
    height: 100%;
    width: 100%;
    background-color:rgb(40, 64, 169);
    
    
}
