@media only screen and (max-width: 590px) {
        
    .indexmain {
        h1{
            font-size: 28px;
            justify-self: end;
            text-align: end;
            align-self: flex-end;
            /* width: 60%; */
    }
        h2{font-size: 22px;}
        p{font-size: 20px;}

        .indeximg{
            align-self: center;
    }
}
}

@media only screen and (max-width: 500px) {
// .indexmain{
//     grid-template-areas: 
//     ". headers"
//     "about about"
//     "about about"
//     ". .";
// }


// .headers{
//     align-self: flex-end;
// }
.indexmain{
    h1{
        font-size: 24px;
    }
    p{
        font-size: 16px;}
    h2{font-size: 18px;}

}
.about{
    font-size: 16px;
    margin-top: 1.25rem;
}
.contactmain{
    font-size: 16px;
}

.contactmain h1{
    font-size: 18px;
}
.emailbox{
    width: 90%;
}
.portada{
    img{
        max-width: 320px;
    }
}
}