@media only screen and (max-width: 590px) {
        
    .indexmain {
        h1{
            font-size: 28px;
            padding-right: 8px;
    }
        h2{font-size: 22px;}
        p{font-size: 20px;}

        .indeximg{
            align-self: center;
    }
    }
    .buscard{
        .nombre{
            font-size: 13px;
        }
    }
}

@media only screen and (max-width: 560px) {
    .buscard{
        .nombre{
            font-size: 12px;
        }
        .marca{
            font-size: 10px;
        }
    }
    .search{
        max-height: 40px;
    }

    .contactform{
        width: 70%;
        font-size: 16px;
    }

    
    
}



@media only screen and (max-width: 500px) {

    .indexmain{
        height: 380px;
        h1{
            font-size: 24px;
        }
        p{
            font-size: 16px;
            padding-left: 5px;
        }
        h2{
            font-size: 18px;
            padding-left: 5px;
        }


    }
    .about{
        font-size: 16px;
        margin-top: 1.25rem;
    }
    .contactmain{
        font-size: 16px;
    }

    .contactmain h1{
        font-size: 18px;
    }
    
    .portada{
        img{
            max-width: 320px;
        }
    }
    .busqmain{
        h1{font-size: 16px;}
        
    }
    .sideform{
        label{
        font-size: 10px;
        }
        select , input{font-size: 10px;}
    }
    footer{
        font-size: 10px;
    }
    header nav ul li a{
        font-size: 10px;
    }
}

@media only screen and (max-width: 460px) {
    .container{
        height: 420px;
    }
    .buscard{
        grid-template-columns: 50% 50%;
        .nombre{
            font-size: 10px;
        }
        .marca{
            font-size: 8px;
        }
        .precio{font-size: 14px;}
    }
    .busqmain{
        h1{font-size: 14px;}
       
    }

    .sideform{
        h2{
            font-size: 14px;
        }
    }

  
}

@media only screen and (max-width: 420px) {
    
    .sideform{
        h2{font-size: 12px;}
    }

    
    .musicsection2{
        h2{font-size: 40px;}
    }
}

@media only screen and (max-width: 380px) {
    .indexmain{
        height: 460px;
        .intro{margin-bottom: none;}
    }
    .result{
        overflow-x: scroll;
        padding-left: 2px;
    }
    .buscard{
         .precio{
            font-size: 10px;
        }
     }
    
}
