@media only screen and (max-width: 690px) {
    
    .banner{
        flex-direction: column;
        align-items: center;
        gap: 16px;
        .master-banner{
            max-height: 80px;
            width: 120px;
        }
        .mercado-banner{
            width: 100%;
        }
    }
}


@media only screen and (max-width: 660px) {
   

    // .headiv img{
    //     max-width: 320px;
    // }


    header nav ul li a{
       
        font-size: 12px;
    
    }

    .indexmain{

        h1{
            font-size: 34px;
        }
        p{font-size: 22px;}
        h2{font-size: 22px;}
}

   



    .busqmain{
        h1{font-size: 16px;}
        h2{font-size: 16px;}
    }
    

  

}
@media only screen and (max-width: 620px) {
    .buscard{
        .nombre{font-size: 14px;}
    }
}