@media only screen and (max-width: 780px) {
    .buscard{
        .nombre{font-size: 16px;}
    }
}

@media only screen and (max-width: 768px) {
  
    .indexmain{
        
        h1{
            font-size: 34px;   
        }
        h2{font-size: 24px;}
        p{font-size: 22px;}
 
    }
    .indeximg{
        justify-self: right;
    }
    .portada{
        img{
        max-width: 500px;
        
        }
    }

    .headiv img{
        max-width: 320px;
    }

   
    
}

@media only screen and (max-width: 750px) {
   

    .card{
        justify-content: center;
    }
    .cardcont{
        flex-direction: column;
        justify-self: center;
        align-items: center;
    }
    .indexmain h2{
        margin-bottom: 12px;
    }
           
}

