@media only screen and (max-width: 890px) {

  

  
    .indexmain{
       
        h1{
            font-size: 34px;
            justify-self: end;
            text-align: end;
            align-self: flex-end;
            /* width: 60%; */
        }
        h2{font-size: 24px;}
        p{font-size: 22px;}
    }
}